{{ "<!-- details page -->" | safeHTML }}
<section class="section single section-sm pt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        {{ partial "sidebar.html" . }}
      </div>
      <div class="col-lg-9">
        
        <div>
          <div class="bg-white" style="margin:auto">
            {{ partial "breadcrumb.html" . }}
          </div>
          <div class="p-lg-5 p-4 bg-white" id="content">
            <h2 class="mb-5" id="title">{{ .Title }}</h2>
            {{ if .Content }}
            {{ else }}
              <div class="bg-light p-4">
                <p>UNICEF’s Innovation Fund invests in early stage, open-source, emerging technology digital public goods with the potential to impact children on a global scale. It also provides product and technology assistance, support with business growth, access to a network of experts and partners to allow for scale and growth.</p>
                <div class="">
                    
                    <div class="row">
                        {{ range .Pages }}
                        <div class="col-sm-6 mb-5 card-deck">
                            <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-solid fa-{{ .Params.icon }} mr-2" aria-hidden="true"></i>{{ .Title }}</h5>
                                <p class="card-text">{{ .Description }}</p>
                                <a href="{{ .Permalink }}" class="btn-primary btn-block px-10 py-3 text-center text-uppercase font-weight-bold">See Startup Teams</a>
                            </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
            

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /details page -->" | safeHTML }}

